*{
    margin: 0;
    padding: -250px 0;
    font.family: "popppins", sans-serif;
    box.sizing: border box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #121212;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    min-width: 20%;
    max-width: 500%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #2972f0;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
        color: #2972f0;
}
#about{
    padding: 0px 0;
    margin-top: 50px;
    color: #ababab;
    margin-bottom: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.mountain-video{
    margin-top: 50px;
    max-width: 100%;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 h2 {
    margin-top: 50px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
#project{
    padding:50px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.proj-col-1{
    flex-basis: 40%;
}
.proj-col-1 h1{
    margin-top: 78px;
}
.starmap-video{
    margin-top: 50px;
    max-width: 100%;
}
.proj-col-1 p{
    margin-top: 50px;
}
.proj-col-2{
    flex-basis: 40%;
}
.proj-col-2 h1{
    margin-top: 75px;
}
.boid-video{
    margin-top: 50px;
    max-width: 100%;
}
.proj-col-2 p{
    margin-top: 50px;
}


#contact {
    margin-top: 250px;
}
.container p {
    color: #ababab;
    margin-top: 30px;
}
.container p i {
    color: #2972f0;
    margin-right: 15px;
    font-size: 25px;
}
